hr{
	width: 150px;
	height: 3px;
	background-color: black;
	margin-left: 20px;
}
h1{
	margin-left: 20px;
}
.show{
	display: inline-block;
	margin: 20px;
}
.uno{
	background-image: url(img/profile-1.png);
}
.dos{
	background-image: url(img/profile-2.png);
}
.tres{
	background-image: url(img/profile-3.png);
}
.cuatro{
	background-image: url(img/profile-4.png);
}
.cinco{
	background-image: url(img/profile-5.png);
}
.seis{
	background-image: url(img/profile-6.png);
}
.size{
	width: 211px;
	height: 211px;
}
p{
	position: relative;
	left: 80px;
	top: 170px;
	color: white;
}
.filtro{
	-webkit-filter:brightness(0.6);
	filter:brightness(1);
    -webkit-transition : -webkit-filter 1s ease-out;
	transition : -webkit-filter 1s ease-out;
}
.filtro:hover{
	-webkit-filter:brightness(1);
	filter:brightness(1);
}